$dark-color: #000;
$tan-color: #9a9a9a;
$border-primary-color: #a39e9e;
$border-color: #bebebe;
$darker-color: #bdbdbd;
$light-color: #d6d6d6;
$border-secondary-color: #e8e8e8;
$gray-color: #efefef;
$white-color: #fff;
$blue-light: #247ba0;
$main-color: #207bc1;
$orange-color: #ff6535;
$red-color: #ff4200;
$dark-red: #de1f1f;
